
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;

}

.card-container{
  border: none;
  border-radius: 10px;
  width: 20%;
  box-shadow: 0 0 20px -10px;
  display: grid;
  overflow: hidden;
}

.text-container{
  padding: 1rem 1rem 2rem 1rem;
}

main{
  padding: 2rem 4rem 2rem 4rem;
}


.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4rem;
    margin-top: 2rem;
}

.img-flag{
  height: 150px;
  width: 100%;
  
}

.img-container{
  width: 100%;
  
}

.title-country{
  font-size: large;
  font-weight: 700;
}

.props-text{
  font-size: small;
  margin-top: 1rem;
}